<nav class="d-flex">
    <h1><a href="#">noxe</a></h1>
    <ul class="d-flex justify-content-around list-unstyled">
        <li>
            <a routerLink="/Home">Home</a>
        </li>
        <li>
            <a routerLink="/Home">About</a>
        </li>
        <li>
            <a routerLink="/Home">Gallery</a>
        </li>
        <li>
            <a routerLink="/Home">Movies</a>
        </li>
        <li>
            <a routerLink="/Home">TV</a>
        </li>
        <li>
            <a routerLink="/Home">Contacts</a>
        </li>
    </ul>
</nav>
